<%= form_with(model: estudio) do |form| %>
  <% if estudio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(estudio.errors.count, "error") %> prohibited this estudio from being saved:</h2>

      <ul>
        <% estudio.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="container-fluid">>
    <%= form.label :date %>
    <br/>
    <%= form.datetime_select :date, class: "form-control" %>
  </div>
  <br/>

  <div class="container-fluid">>
    <%= form.label :comments %>
    <br/>
    <%= form.text_area :comments, class: "form-control" %>
  </div>
<br/>

  <div class="container-fluid">
    <div class ="control-group">
      <%=form.label :paciente, class: "control-group"%>
      <div class ="controls">
        <%= form.collection_select(:paciente_id, Paciente.find_each, :id, :first_name) %>
    <div class="actions">
  </div>

<br/>
  <div class ="control-group">
    <%=form.label "Tipo de estudio", class: "control-group"%>
    <div class ="controls">
      <%= form.collection_select(:estudio_type_id, EstudioType.all, :id, :name) %>

<br/>
<br/>

  <div class="control-group">
    <%= form.label "Estado Estudio: ", class: 'control-label' %>
    <div class = "controls">
      <%= form.select(:status, options_for_select([['Hecho', 'Hecho'],['Pendiente','Pendiente' ]]), {include_blank: true} )%>
  </div>


<br/>

<div class="actions">
    <%= form.submit %>
  </div>

  
<% end %>
