<p id="notice"><%= notice %></p>

<h1>Estudios</h1>

<table class="table  table-light table-striped table-bordered table-hover">
  <thead class="table-dark">
    <tr>
      <th>Fecha</th>
      <th>Paciente</th>
      <th>Tipo de estudio</th>
      <th>Comentarios</th>
      <th>Estado estudio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @estudios.each do |estudio| %>
      <tr>
        <td><%= estudio.date %></td>
        <td><%= estudio.paciente.full_name %></td>
        <td><%= link_to estudio.estudio_type.nom, estudio %></td>
        <td><%= estudio.comments %></td>
        <td><%= estudio.status %></td>
        <td><%= link_to 'Ver', estudio, class: "btn btn-secondary" %></td>
        <td><%= link_to 'Editar', edit_estudio_path(estudio), class: "btn btn-secondary" %></td>
        <td><%= link_to 'Eliminar', estudio, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Estudio', new_estudio_path, class: "btn btn-secondary" %>
