<p id="notice"><%= notice %></p>

<div class="jumbotron">
  <h1 class="display-4">
    <%= @estudio.paciente.full_name %> |
    <%= @estudio.estudio_type.nom %>
  </h1>
  <p class="lead">
    <%= @estudio.date %> /
    <%= @estudio.comments %>
    
  </p>
  <br/>

<%= link_to 'Editar', edit_estudio_path(@estudio), class: "btn btn-secondary" %> |
<%= link_to 'Atrás', estudios_path, class: "btn btn-secondary" %>
