<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @estudio.date %>
</p>

<p>
  <strong>Paciente:</strong>
  <%= @estudio.paciente_id %>
</p>

<p>
  <strong>Estudio type:</strong>
  <%= @estudio.estudio_type_id %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @estudio.comments %>
</p>

<%= link_to 'Edit', edit_estudio_path(@estudio) %> |
<%= link_to 'Back', estudios_path %>
