<%= form_with(model: paciente) do |form| %>
  <% if paciente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(paciente.errors.count, "error") %> prohibited this paciente from being saved:</h2>

      <ul>
        <% paciente.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Nombre(s)" %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label "Apellido(s)" %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label "Teléfono" %>
    <%= form.text_field :phone %>
  </div>

  <div class="field">
    <%= form.label "Correo Eletrónico" %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :historial %>
    <%= form.text_area :historial %>
  </div>

  <div class="control-group">
    <%= form.label "Estudio:", class: 'control-label' %>
    <div class = "controls">
    <%= collection_select(:paciente, :estudio_id, Estudio.all, :id, :name, {}, { :multiple => false} )%>
  </div>

  <div class="control-group">
    <%= form.label "Estado Estudio: ", class: 'control-label' %>
    <div class = "controls">
      <%= form.select(:status_type, options_for_select([['Hecho', 'Hecho'],['Pendiente','Pendiente' ]]), {include_blank: true} )%>
  </div>

  <br/>

  <div class="actions">
    <%= form.submit %>
  </div>


<% end %>
