<%= form_with(model: paciente) do |form| %>
  <% if paciente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(paciente.errors.count, "error") %> prohibited this paciente from being saved:</h2>

      <ul>
        <% paciente.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div>
  <div class="field form-group">
    <% form.label :first_name %>
    <%= form.text_field :first_name, class:"form-control", placeholder:"Nombre(s)" %>
  </div>

  <br/>

  <div class="field form-group">
    <% form.label :last_name %>
    <%= form.text_field :last_name, class:"form-control", placeholder:"Apellido" %>
  </div>

  <br/>
  
  <div class="field form-group">
    <%= form.text_field :phone, class: "form-control", placeholder:"# de teléfono" %>
  </div>

  <br/>

  <div class="field form-group">
        <%= form.text_field :email, class: "form-control", placeholder: "E-mail" %>
  </div>

  <br/>

  <div class="field">
    <%= form.label :historial %>
    <%= form.text_area :historial, class: "form-control" %>
  </div> 

  <br/>

  <div class="control-group">
    <%= form.label "Estado Estudio: ", class: 'control-label' %>
    <div class = "controls">
      <%= form.select(:status_type, options_for_select([['Hecho', 'Hecho'],['Pendiente','Pendiente' ]]), {include_blank: true} )%>
  </div>

  <br/>

  <div class="actions">
    <%= form.submit%>
  </div>

</div>
<% end %>
