<p id="notice"><%= notice %></p>

<h1>Pacientes</h1>

<%= render 'pacientes/search_form'%>

<br/>

<table class="table table-secondary table-striped table-hover table-bordered">
  <thead>
    <tr>
      <th><%= sort_link(@q, :first_name, "Nombre(s)", default_order: :asc) %></th>
      <th><%= sort_link(@q, :last_name, "Apellido", default_order: :asc) %></th>
      <th>Phone</th>
      <th><%= sort_link(@q, :email, "E-Mail", default_order: :asc) %></th>      
      <th>Historial</th>
      <th>Estudio</th>
      <th>Estado de estudios</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pacientes.each do |paciente| %>
      <tr>
        <td><%= paciente.first_name %></td>
        <td><%= paciente.last_name %></td>
        <td><%= paciente.phone %></td>
        <td><%= paciente.email %></td>
        <td><%= paciente.historial %></td>
        <td><%= paciente.study_type %></td>
        <td><%= paciente.status_type %></td>
        <td><%= link_to 'Show', paciente, class: "btn btn-dark" %></td>
        <td><%= link_to 'Edit', edit_paciente_path(paciente), class: "btn btn-dark" %></td>
        <td><%= link_to 'Destroy', paciente, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini btn-danger' %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Paciente', new_paciente_path, class: "btn btn-dark" %>
<%= link_to 'Atrás', pacientes_path, class: "btn btn-dark" %>
<%= link_to 'Inicio', root_path, class: "btn btn-dark" %>
