<p id="notice"><%= notice %></p>

<h1>Pacientes</h1>

<%= render 'pacientes/search_form'%>

<br/>

<table class="table  table-light table-striped table-bordered table-hover">
  <thead class="table-dark">
    <tr>
      <th><%= sort_link(@q, :first_name, "Nombre(s)", default_order: :asc) %></th>
      <th><%= sort_link(@q, :last_name, "Apellido", default_order: :asc) %></th>
      <th>Phone</th>
      <th><%= sort_link(@q, :email, "E-Mail", default_order: :asc) %></th>      
      <th>Historial</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pacientes.each do |paciente| %>
      <tr>
        <td><%= link_to paciente.first_name, paciente %></td>
        <td><%= link_to paciente.last_name, paciente %></td>
        <td><%= paciente.phone %></td>
        <td><%= paciente.email %></td>
        <td><%= paciente.historial %></td>
        <td><%= link_to 'Editar', edit_paciente_path(paciente), class: "btn btn-secondary" %></td>
        <td><%= link_to 'Eliminar', paciente, method: :delete, data: { confirm: 'Are you sure?' } , class:"btn btn-danger"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Por Defecto', pacientes_path, class: "btn btn-secondary" %> |
<%= link_to 'Añadir paciente', new_paciente_path, class: "btn btn-secondary" %>
