<p id="notice"><%= notice %></p>


<div class="jumbotron">
  <h1 class="display-4">
    <%= @paciente.full_name %> 
  </h1>
  <p class="lead">
    <%= @paciente.phone %> /
    <%= @paciente.email %>
    
  </p>
  <br/>

<div class="jumbotron">
  <p class="lead">
    <%= @paciente.historial %>  
  </p>
    <br/>

<%= link_to 'Edit', edit_paciente_path(@paciente), class: "btn btn-secondary" %> |
<%= link_to 'Atrás', pacientes_path, class: "btn btn-secondary" %>
