<%= form_with(model: estudio_type) do |form| %>
  <% if estudio_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(estudio_type.errors.count, "error") %> prohibited this estudio_type from being saved:</h2>

      <ul>
        <% estudio_type.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div>
  <div class="field">
    <%= form.label :name %>
    <br/>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :code %>
    
    <%= form.text_field :code, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :instructions %>
    <br/>
    <%= form.text_area :instructions, class: "form-control" %>
  </div>

  <br/>

  <div class="actions">
    <%= form.submit %>
  </div>
</div>
<% end %>
