<p id="notice"><%= notice %></p>

<h1>Tipos de estudio</h1>

<table class="table  table-light table-striped table-bordered table-hover">
  <thead class="table-dark">
    <tr>
      <th>Nombre</th>
      <th>Codigo</th>
      <th>Instruciones</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @estudio_types.each do |estudio_type| %>
      <tr>
        <td><%= link_to estudio_type.name, estudio_type %></td>
        <td><%= estudio_type.code %></td>
        <td><%= estudio_type.instructions %></td>
        <td><%= link_to 'Editar', edit_estudio_type_path(estudio_type), class:"btn btn-secondary" %></td>
        <td><%= link_to 'Eliminar', estudio_type, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Estudio Type', new_estudio_type_path, class:"btn btn-secondary"%>
