<p id="notice"><%= notice %></p>

<div class="jumbotron">
  <h1 class="display-4">
    <%= @estudio_type.nom %> 
  </h1>
  <p class="lead">
  <strong>Instrucciones:</strong> 
  <%= @estudio_type.instructions %>   
  </p>
  <br/>

<%= link_to 'Editar', edit_estudio_type_path(@estudio_type), class: "btn btn-secondary" %> |
<%= link_to 'Atrás', estudio_types_path, class: "btn btn-secondary" %>
